<html>
  <head>

  </head>
  <body>
    <center>
      <form class="grid" action="/result" method='POST'>
    <h2><label for="Name" >Please copy your source only XLF file into the textarea below</label></h2>
    <div>
    <input type="Submit" class="file_submit" />
    </div>
    <div>
      {% if message %}
      <h1> {{message}}</h1>
      {% endif %}
    </div>
    <textarea  type="text" name="name" id="name" rows="100" cols="100" wrap="soft"></textarea>


      </form>
    </center>
  </body>




</html>
